@import "tailwindcss";

@theme {
  --color-background: var(--bg-color);
  --color-foreground: var(--fg-color);

  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-muted: var(--muted-color);

  --color-joy: var(--joy-color);
  --color-calm: var(--calm-color);
  --color-sadness: var(--sadness-color);
  --color-anger: var(--anger-color);
  --color-anxiety: var(--anxiety-color);
  --color-neutral: var(--neutral-color);

  --font-sans: var(--font-sans);
}

@layer base {
  :root {
    --bg-color: #ffffff;
    --fg-color: #0f172a;

    --primary-color: #3b82f6;
    --secondary-color: #64748b;
    --muted-color: #f1f5f9;

    --joy-color: #fbbf24;
    --calm-color: #2dd4bf;
    --sadness-color: #60a5fa;
    --anger-color: #ef4444;
    --anxiety-color: #a78bfa;
    --neutral-color: #94a3b8;
    --color-naranja-brillante: #CB7D05;
    --color-naranja-Title:#E58422; 
  }

  .dark {
    --bg-color: #0f172a;
    --fg-color: #f8fafc;

    --primary-color: #60a5fa;
    --secondary-color: #94a3b8;
    --muted-color: #1e293b;

    --joy-color: #d97706;
    --calm-color: #0f766e;
    --sadness-color: #2563eb;
    --anger-color: #b91c1c;
    --anxiety-color: #7c3aed;
    --neutral-color: #475569;

  }
  .card-dark {
    padding: 1rem; /* p-4 */
    background-color: #1C1A17;
    border-radius: 1rem; /* rounded-2xl */
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
                0 4px 6px -4px rgba(0,0,0,0.1); /* shadow-lg */
    border: 1px solid rgba(148,163,184,0.8); /* border-slate-200/80 */
    overflow: hidden;
  }
  
  @media (min-width: 768px) {
    .card-dark {
      padding: 1.25rem; /* md:p-5 */
    }
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.025em;
  }

  ::selection {
    background-color: var(--color-primary);
    color: #ffffff;
  }
  .text-naranja-brillante {
    color: var(--color-naranja-brillante);
  }
  .text-naranja-Title {
    color: var(--color-naranja-Title);
  }
}
